.container_card{
    position: relative; 
    width: 300px; 
    height: 100%; 
  

  
 
    
}
.card{
    width: 270px;
    height: 430px;
    margin-top: 10px;
  
}
.card img{
    width: 100%;
    height: 350px;
    caret-color: transparent;
}
.card_overlay{
    position: absolute;
    height: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 270px;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: #d6d6d661;
    cursor: pointer;
}
.card_overlay button{
    background-color:#617b3e;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 15px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: medium;
}
.card_overlay:hover{
    opacity: 1;
}
.specs{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 3rem;

}
.specs p{
    display: block; 
    color: #232722;  
    font-weight: 500; 
    font-family: 'Lora', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.card_overstock{
    position: absolute;
    height: 20px;
    top: 20px;
    display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
    width: 270px;
    cursor: pointer;
   
   
}
.card_overstock p{
    color: #868a85;
    font-size: larger;
    width: 100%;
    font-family: "Roboto";
    background-color: rgba(255, 255, 255, 0.653);
}