.cart_container{
    background-image: linear-gradient(rgba(133, 172, 149, 0.581),rgba(206, 208, 206, 0.763)), url("https://img.freepik.com/free-photo/calathea-orbifolia-green-natural-leaves_53876-97398.jpg?w=1060&t=st=1666755011~exp=1666755611~hmac=ac0749d368f3630a1c3271e77649311f29ad7047064eee60c0483e5b400fa9d1"); 
    background-repeat: no-repeat;
    background-size: cover;
    caret-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    caret-color: transparent;
}
.product{
    background-color:#fff;
    position: absolute;
    border-radius: 20px;
    margin: 30px;
    width: 50%;
    height: 80vh;
    border-bottom: 1px solid #353c2c;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    overflow-y: scroll;
}
.product::-webkit-scrollbar-track {
    border: 1px solid rgb(0, 54, 19);
    padding: 2px 0;
    background-color: #889388;
  }
  
  .product::-webkit-scrollbar {
    width: 15px;
  }
  
  .product::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3286567c;
    border: 1px solid #000;
  }
.product h3{
    text-align: left;
    margin: 30px;
    font-family: "Inter",sans-serif;
    font-weight: 400;

}
.check{
    width: 30%;
    height: auto;
    right: 100px;
   margin: 35px;
    border-radius: 30px;
    background-color:#fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: absolute;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: left;
    padding: 50px;
  
}
.summary{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin: 20px;
    font-size: 20px;
}
.check h3{
    border-bottom: 2px solid #0321107c; ;
}
.total_summary{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    
}
.list img{
    width: 90px;
    border-radius: 10px;
    margin-left: 30px;
}
.left{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: left;
    
}
.left strong{
    font-family: "Inter",sans-serif;
   font-weight: bold;
   font: 25px;
   color: #353c2c;
}
.list{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #353c2c;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.589);
    width: 90%;
    padding-bottom: 30px;
}
.counter{
    display: flex;
}
.counter{
    border: 2px solid rgb(128, 128, 128) ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100px;
    border-radius: 40px;
}
.counter button{
    cursor: pointer;
}
.specs{
    display: flex;
    flex-direction: column;
   gap: 5px;
}
.total_btn button{
margin: 10px;
}
.heart_icon{
    color: #62a509;
    font-size: 1.5rem;
    cursor: pointer;
}
.heart_icon:hover{
    color: #508707;
    cursor: pointer;
  
}
.delete{
    color: rgba(164, 5, 5, 0.681);
    font-size: 1.8rem;
    cursor: pointer;
    position: relative;
    top: 3px;
}
.delete:hover{
    color: rgba(200, 2, 2, 0.794);
}
.total h3{
    font-weight: bold;
}
.checkout{
    background-color: #37580d;
    width: 100%;
    margin-top: 30px;

    padding: 10px;
    color: #fff;
    font-size: medium;


}
.checkout:hover{
    background-color: #37580dc9;
    cursor: pointer;
  


}
.empty{
    background-color:#fff;
    position: absolute;
    border-radius: 20px;
    margin: 30px;
    width: 50%;
    height: 80vh;
    border-bottom: 1px solid #353c2c;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    align-items: center;


}
.empty img{
    width: 60%;
    margin-top: 30px;
    opacity: 0.8;
}
.empty img:hover{
    opacity: 1;
}
.empty h4{
    font-family: "Dosis";
    font-size: 30px;
    color: #353c2c;
    opacity: 0.8;
}

.clear{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
   position: relative;
   left: 40%;
}
.mercadopago{
    display: none;
}
@media (max-width: 1000px) {
    .check{
        width: 40%;
        right: 10px;
    }
   
}
@media (max-width: 800px) {
  .cart_container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;

  }
  .product{
    position: relative;
    width: 90%;
    height: 50vh;
  }
  .check{
    width: 85%;
    right: 0;
   margin: 20px;
    position: relative;
    margin-bottom: 10rem;
  }
  .empty{
    position: relative;
    width: 80%;
    
  }
}
@media (max-width: 500px) {
    .left{
        flex-direction: column;
        margin-top: 20px;
    }
   
    .clear{
      position: relative;
      left: 20px;
    }
    .check{
        font-size: medium;
     
    }
    .summary{
        font-size: medium;
   
    }
    .total_summary{
        font-size: medium;
    }

}