.container{
    color: white;
    background-color: #4f790f;
    width: 100%;
    height: 17px;
  caret-color: transparent;
}

.container p{
    font-family: "Roboto", sans-serif;
    font-stretch:extra-expanded;
    font-size: smaller;
   

}