.main{
    background-image: linear-gradient(rgba(98, 98, 98, 0.706),rgba(206, 208, 206, 0.786)), url("https://img.freepik.com/free-photo/calathea-orbifolia-green-natural-leaves_53876-97398.jpg?w=1060&t=st=1666755011~exp=1666755611~hmac=ac0749d368f3630a1c3271e77649311f29ad7047064eee60c0483e5b400fa9d1"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: left;
    
}
.title.container{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;

}
.title{
    font-weight:  600;
    width: 150px;
    margin-left: 3rem;
    text-align: left;
    margin-bottom: 30px; 
    font-size:  24px; 
    line-height:  40px; 
    padding-top: 50px;

    font-family: Inter, sans-serif; 
    color: #ffff; 
    border-bottom:  #ffff solid 2px;
    caret-color: transparent;

}

.favorites{
    width: 70vw;
    height: 65vh;
    background-color: #e3e4de;
    border-radius: 20px;
    display: flex;
    
  
}
.left{
    width: 100%;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
   
   

}
.right{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  
}
.right h2{
    font-family: "Dosis", sans-serif;
    margin-top: 20px;
}
.favorite_list{
    background-color: #27262b;
    margin-top: 20px;
    width: 90%;
    height: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    overflow-y: scroll;
}
.favorite_list::-webkit-scrollbar-track {
    border: 1px solid rgb(0, 54, 19);
    padding: 2px 0;
    background-color: #889388;
  }
  
  .favorite_list::-webkit-scrollbar {
    width: 15px;
  }
  
  .favorite_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3286567c;
    border: 1px solid #000;
  }
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    position: relative;
    top: 20px;
    background-color: #fff;
    width: 350px;
    border-radius: 10px;
    height: 80px;
}
.card img{
    width: 80px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.specs{
    margin-right: 20px;
}
.specs h4{
    font-size: medium;
}
