footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer_distributed {
    box-shadow: 0 19px 30px rgba(0, 0, 0, 0.679), 0 15px 40px rgba(0, 0, 0, 0.759);
  
    background-image: linear-gradient(rgb(203, 226, 210),rgba(110, 169, 135, 0.359)), url("https://img.rawpixel.com/private/static/images/website/2022-05/rm255-sasi-15.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=2e9aa5796da70fcd0ed6068e96e566ac"); 
    background-repeat: no-repeat;
    background-size: cover; 
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: "Poppins";
    font-weight: 400;
    padding: 30px 50px 20px 50px;
   
}

.footer_distributed .footer_left, .footer_distributed .footer_center, .footer_distributed .footer_right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer_distributed .footer_left {
    width: 30%;
}



.footer_distributed h3 span {
    color:#425a21f5;
}





.footer_distributed .footer_links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer_distributed .footer_company_name {
    color: #151515;
    font-size: small;
    font-weight: normal;
  margin-top: 20px;
}

/* Footer Center */

.footer_distributed .footer_center {
    width: 35%;
}

.footer_distributed .footer_center i {
    
    color:  #2d2a30;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
/* .social-icon{
    font-size: 25px;
   
} */
.footer_distributed .footer_center i.fa_envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer_distributed .footer_center p {
    display: inline-block;
    color:  #2d2a30;
    vertical-align: middle;
    margin: 0;
}

.footer_distributed .footer_center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer_distributed .footer_center p a {
    color: #2d2a30;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    
}

/* Footer Right */

.footer_distributed .footer_right {
    width: 30%;
}

.footer_distributed .footer_company_about {
    line-height: 20px;
    color:  #2d2a30;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer_distributed .footer_company_about span {
    display: block;
    color:  #2d2a30;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_distributed .footer_icons {
    margin-top: 10px;
   
}
.logo_footer{
    width: 200px;
    height: 90px;
}

.footer_distributed .footer_icons a {
    display: inline-block;
    
   
    cursor: pointer;
    background-color:transparent;

    font-size: 40px;
    color:  #2d2a30;
    text-align: center;
    margin-right: 20px;
   
}

.footer_distributed .footer_icons a:hover {

    color:  #453656;
}

.footer_links a:hover {
    color: #425a21f5;
}

@media (max-width: 880px) {
    .footer_distributed .footer_left, .footer_distributed .footer_center, .footer_distributed .footer_right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer_distributed .footer_center i {
        margin-left: 0;
    }
}       