.modalBackground {
  top: 0;
  left: 0;
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.637);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
gap: 20px;
  padding: 30px;
width: 450px;
min-width: 330px;
  height: 40vh;
  background-image: linear-gradient(
      rgba(110, 169, 135, 0.682),
      rgb(167, 191, 173)
    ),
    url("https://img.rawpixel.com/private/static/images/website/2022-05/rm255-sasi-15.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=2e9aa5796da70fcd0ed6068e96e566ac");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 12px;
}

.modalInput {
  width: 100%;
  margin: 1rem;
  font-family: "Inter";
  border: 0;
  border-bottom: 1px solid rgb(246, 243, 243);
  outline: 0;
  font-size: 13px;
  color: #fff;
  background: transparent;
  transition: border-color 0.2s;
  margin: 8px;
  caret-color: #fff;
}

.modalInput::placeholder {
  color: rgb(255, 253, 253);
  font-family: "Poppins";
  font-size: 0.8rem;
}
.modalInput:focus::placeholder {
  color: transparent;
}

.register_btn {
  background-color: #f4eed8;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  color: rgb(12, 65, 28);
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 40%;
  cursor: pointer;
  caret-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_container{
  width: min-content;
  position: absolute;
  left: 15px;
top: 5px;
}
.back{
  background-color: rgb(17, 55, 37);
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


@media (max-width: 500px) {
  .modalContainer{
    width: 330px;
  }
.register_btn{
  width: 80%;
}
 
}
@media (max-width: 400px) {
  .modalContainer{
    width: 250px;
    min-width: 200px;
  }
.register_btn{
  width: 80%;
}
 
}