.modalContainer {
  z-index: 10;
  position: fixed;
  display: flex;
  width: 80vw;
  height: 75vh;
  background-color: #425a21b0;
  border-radius: 1rem;
}

.modalBackground {
  top: 0;
  left: 0;
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.637);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalForm {
  margin: 3rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.modalForm > input {
  width: 100%;
  margin: 1rem;
  font-family: "Inter";
  border: 0;
  border-bottom: 1px solid rgb(246, 243, 243);
  outline: 0;
  font-size: 13px;
  color: #fff;
  background: transparent;
  transition: border-color 0.2s;
  margin: 8px;
}

.modalForm > input::placeholder {
  color: rgba(255, 255, 255, 0.552);
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.resumeCart {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.855);
  height: 70vh;
  width: 18rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
}

.maps {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  height: 70vh;
  width: 25rem;
  margin: 1rem;
  height: 70vh;
}

.check {
  margin: 1rem;
}

.imageResume {
  width: 4rem;
  margin-bottom: 0.2rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
}

.divResume {
  text-align: end;
  display: flex;
  width: 90%;
  margin: 0.5rem;
  font-size: 0.8rem;
  justify-content: space-between;
}

.divResumeInside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

.totalAmount {
  align-self: flex-end;
}
