.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    position: relative;
    bottom: 5rem;
    margin-top: 5rem;
  


}
.container img{
    width: 30%;
    min-width: 350px;
    caret-color: transparent;
    z-index: 1;

}
.container h2{
font-family: "Josefin Sans";
caret-color: transparent;
font-size: 2rem;
position: relative;

}