.loading{
    width: 100%;
    height: 100vh;
   margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    caret-color: transparent;
}
.monstera{
    width: 540px;
 height: auto;
 opacity: 0.7 ;
}
.loader{
    width: 800px;
    height: auto;
    opacity: 0.7; 
    position: relative;
    bottom: 15rem;
}