.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 80vh;
    

}
.wraper{
   width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 450px;

}
.image img{
width: 100%;
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
border-radius: 20px;
caret-color: transparent;
position: relative;
right: 20px;
}
.login{
    width: 100%;
    background-color: #425a21f5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 
}

.login_title{
    font-family: "Inter";
    color: rgb(246, 251, 245);
  margin-top: 20px;
}
.specs p{
    font-family: "Inter";
    color: rgb(246, 251, 245);
    font-size: medium;
    font-weight: lighter;
    margin: 10px;
}
.input_container{
    background-color: transparent;
}

.input_text{
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgb(246, 243, 243);
    outline: 0;
    font-size: 14px;
    color: #fff;
    background: transparent;
    transition: border-color 0.2s;
    margin: 10px;
}
.input_text::placeholder{
    color:rgba(255, 255, 255, 0.625);
}


.input_email:-webkit-autofill {
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgb(246, 243, 243);
    outline: 0;
    font-size: 14px;
    color: #fff;

    background: transparent;
    transition: border-color 0.2s;
  }
 .check{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
 }

.check_input[type="checkbox"]{
    width: 12px;
    height: 12px;
    color: #77bd16f5;
    vertical-align: middle;
    appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 3px;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
}

.check_input[type="checkbox"]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }
  .check_input[type="checkbox"]:checked {
    background-color: currentcolor;
  }
  
  .check_input[type="checkbox"]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }

  .check_label{
    color: #fff;
    margin-left: 10px;
    font-size: small;
  }
  .forgot_btn{
    color: #fff;
    font-size: small;
    font-weight: lighter;
    font-family: "Inter";
    cursor: pointer;

  }
  .sign_btn_container{
    display: flex;
    flex-direction: column;

  }

  .login_google{
    transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  cursor: pointer;
  
  }
  .login_google:hover{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, .25);
  }

  .sign_login{
  
    
  padding: 12px;
  border: none;
  border-radius: 3px;

  
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  
  background-color: #9a6b06;
  margin-top: 20px;
  margin-bottom: 10px;


  cursor: pointer;
  }
  .sign_login:hover{
    cursor: pointer;
    background-color: #c08504;
  }
  .register p{
    font-size: small;
  }
  .register button{
    font-size: medium;
    color: #fff;
    cursor: pointer;
  }