
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
align-content: center;
    align-items: center;
    height: 12vh;
   
  }
  .logo {
  width: 130px;
  height: 60px;
  margin-left: 30px;
  caret-color: transparent;
  cursor: pointer;
  }
  .nav-left{
    display: flex;
  }
  .nav-links {
    display: flex;
    width: 85%;
  }
  
  .nav-links li {
    color: rgba(3, 17, 5, 0.948); 
    font-size: 20px; 
    padding: 20px 20px; 
    letter-spacing:-1px;
    font-weight:500;
    caret-color: transparent;
  }
  .nav-links li:hover {
    color:#697952;
  }
  .link{
 
      font-size: 20px;
      text-decoration: none;
      position: relative;
      caret-color: transparent;
  }
      .link::after{
        bottom: -4px;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        color: #697952;
        background-color:#697952;
        opacity: 0.6;
        transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
        width: 0;
      }
      .link:hover::after{
        color:#697952;
        width: 100%;
        opacity: 0.9;
      }

  .mobile-menu-icon {
    display: none;
  }
  button {
    border: none;
    text-decoration: none;
    font-size: 20px;
    background: none;
  }
  .login-icon{
    font-size: auto;
    caret-color: transparent;
    position: relative;
    top: 2.5px;
 
  }
  .sign-in-button{
    background-color: #475533;
    color: aliceblue;
    font-family: "Pippins", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: auto;
    font-size: medium;
    padding: 5px 10px;
    caret-color: transparent;

  }
  .sign-in-button:hover{
  background-color: #697952ce;
  }
  .sign-in-button a{
    color: white;
    text-decoration: none;
   
   
  }
  .icons-container{
  display: flex;
  }
  .search-icon{
    margin-left: 15px;
    transform: rotate(90deg);
    font-size: 30px;
    color: #475533;
    width: 40px;
    cursor: pointer;
    position: relative;
  }
  /* .search-hover{
    position: absolute;
    display: inline;
    background-color: #009e1d32;
    top: 70px;
    border-radius: 20px;
    right: 0;
    min-width: 340px;
    height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  } */
  .bag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: 20px;
width: 80px;
cursor: pointer;  
  }
  .bag-icon{
    margin-left: 15px;
    font-size: 30px;
    color: #475533;
  }
  .bag-quantity{
    background-color: #475533;
position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
  
    top: 15px;
    right: 20px;
    caret-color: transparent;
  }
  .total{
    font-size: small;
  }
  .favorite-icon{
    
    font-size: 30px;
    color: #475533;
    width: 40px;
    cursor: pointer;
  }
  .user_name{
    display: flex;
    margin-right: 8px;
    font-size: medium;
    font-weight: bold;

  }
  .user_name a{
    text-decoration: none;
    color: #1f2516;
  }
  .user_name img{
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  

  }
  .sign-out-button{
    background-color: #475533;
    color: aliceblue;
    font-family: "Pippins", sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
    font-size: medium;
    padding: 5px;
    caret-color: transparent;
  }
  @media (max-width: 1120px) {
    .nav-links {
      display: none;
      caret-color: transparent;
    }
    .close-nav{
      font-size: 30px;
    }
    .nav-links-mobile {
      position: absolute;
      display: block;
      list-style: none;
      box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      left: 0;
      top: 12%;
      transition: all 0.5s ease-in-out;
      width: 100%;
      background-image: linear-gradient(rgba(100, 128, 112, 0.926),rgba(33, 45, 33, 0.72)), url("https://cdn.dribbble.com/users/1050706/screenshots/12668488/calathea.jpg"); 
      z-index: 10;
    }
    .mobile-menu-icon {
      position: absolute;
      display: block;
      right: 20px;
      cursor: pointer;
      font-size: larger;
     
    }
    .link::after{
      color: #f2f5ed;
      background-color:#f8faf5;
    }
    .icons-container{
      width: 55%;
    }
    ul li {
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease-in-out;
      text-align: center;
      caret-color: transparent;
    }
    .link_mobile{
      color: #e0dede;
      font-family: "Dosis";
      font-weight: bold;
     }
     
    
  }
  @media (max-width: 768px) {
    .logo {
     display: none;
    }
   
    ul li {
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease-in-out;
      text-align: center;
      caret-color: transparent;
    }
  
    .hero h1 {
      font-size: 50px;
    }
    .user{
      flex-direction: column;
      gap: 5px;
    }
    .sign-out-button{
      width: 80px;
      font-size: smaller;
    }
    .icons-container{
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .navbar{
      justify-content: center;
      align-items: center;
      justify-content: space-between;
     
    }
   
  }