.container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: rgba(5, 89, 50, 0.861);
    gap: 20px;
    border-radius: 20px;
    padding: 10px;
}
.container p{
    color: #fff;
    margin: 0px 10px;
    overflow-y: auto;

    
}
.image{
    width: 60px;
    height: 70px;
    border-radius: 20px;
  }
.search{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container h4{
    color: rgba(255, 255, 255, 0.846);
}
.container input{
   
    background-color: transparent;
    border: #fff solid 2px;
    border-radius: 20px;
    color: #fff;
   

}
.container p::-webkit-scrollbar-track {
    border: 1px solid rgb(0, 54, 19);
    padding: 2px 0;
    background-color: #889388;
  }
  
  .container p::-webkit-scrollbar {
    width: 15px;
  }
  
  .container p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #70bf927c;
    border: 1px solid #000;
  }

.search_icon{
    color: #fff;
    cursor: pointer;
    position: relative;
    right: 25px;
    top: 3px;
  
}
.search input::placeholder{
    color: rgba(255, 255, 255, 0.461);
    font-size: small;
    padding-left: 10px;
}