.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(110, 169, 135, 0.682),rgb(167, 191, 173)), url("https://img.rawpixel.com/private/static/images/website/2022-05/rm255-sasi-15.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=2e9aa5796da70fcd0ed6068e96e566ac"); 
    background-repeat: no-repeat;
    background-size: cover;
    caret-color: transparent;

}


.plants img{
    width: 250px;
}
.plants button{
    background-color: #2d384e;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 0px 12px 12px 12px;
    margin-top: 20px;
    font-size: small;
    cursor: pointer;
    font-family: "Dosis", sans-serif;
   
}
.plants button:hover{
    background-color: #2d384ecb;
 
}