.popular{
    margin-top: 5rem;
    position: relative; 
    width: 100%; 
    max-width: 100%; 
    height: auto;
    padding-top: 85px; 
    padding-top: 50px; 
    background-image: linear-gradient(rgba(214, 215, 213, 0.657),rgb(80, 82, 80)), url("https://img.freepik.com/free-photo/monstera-leafy-nature-background-wallpaper_53876-103973.jpg?w=2000"); 
    background-size: cover;
    background-repeat: no-repeat;
  
}
.image{
    position: absolute; 
    right: auto; 
    top: auto; 
    left: 0%; 
    bottom: 0%; 
    width: 350px; 
    height: 109%; 
  
}
.list{
    margin-left: auto; 
    margin-right: auto; 
    max-width: 800px;
    display: flex;
    gap: 20px;
   
}
.title{
  
    font-family: "Inter", sans-serif;
    color: #d6d6d6;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    caret-color: transparent;
    position: relative;
    right: 10rem;

}
.container_card{
    position: relative; 
    left: 150px;
    width: 100%; 
    height: 100%; 
    max-width: 50%; 
    margin-right: auto; 
    margin-left: auto; 
 
    
}
.card{
    width: 270px;
    margin-top: 10px;
    color: rgb(210, 210, 210);
}

.card img{
    width: 100%;
    caret-color: transparent;
}
.card_overlay{
    position: absolute;
    margin-top: 10px;
    height: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 270px;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: #d6d6d661;
    cursor: pointer;
}
.card_overlay button{
    background-color:#617b3e;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 15px;
    cursor: pointer;
    font-family: "Poppins";
    font-size: medium;
}
.card_overlay:hover{
    opacity: 1;
}
.specs{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 3rem;
}
.specs p{
    display: block; 
    color: #fbfbfb;  
    font-weight: 500; 
    font-family: 'Lora', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}