.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(189, 202, 195, 0.38),rgba(206, 208, 206, 0.763)), url("https://img.freepik.com/free-photo/calathea-orbifolia-green-natural-leaves_53876-97398.jpg?w=1060&t=st=1666755011~exp=1666755611~hmac=ac0749d368f3630a1c3271e77649311f29ad7047064eee60c0483e5b400fa9d1"); 
    background-repeat: no-repeat;
    background-size: cover;
    

}
.wraper{
   width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 450px;
    gap: 0;

}
.image img{
    width: 455px;
    box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 20px;
    caret-color: transparent;
    position: relative;
    left: 35px;
 
    }
.specs{
    width: 100%;
    background-color: #425a21f5;
    height: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 30px;
    gap: 1rem;
    text-align: left;
    border-radius: 10px;
}
.specs h4{
    color: rgb(196, 207, 198);
    font-weight: light;
    font-family: "Poppins", sans-serif;
}
.specs p{
    color: rgb(212, 223, 214);
    font-family: "Inter", sans-serif;
}
.back{
    background-color: #f0efeb;
       padding: 4px;
       border: none;
       border-radius: 3px;
       color: rgb(12, 65, 28);
       margin-top: 50px;
       margin-bottom: 10px;
       width: 80%;
       cursor: pointer;
       caret-color: transparent;
       display: flex;
       justify-content: center;
       align-items: center;
       justify-items: center;
       text-align: center;
       cursor: pointer;
       
}
.back button{
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
   
}
.back:hover{
    background-color: #fffefc;
}