.container{
    width: 250px;
    text-align: left;
    margin: 30px;
    
 
  
}
.filters_container{
    display: flex;
   
    width: 100%;
    margin-left: 3rem;
}
input[type="range"] {
    appearance: none;
	height: 7px;
	background: #c2c4be;
	border-radius: 5px;
	background-image: linear-gradient(#617b3e, #9bb776);
	background-repeat: no-repeat;
  }
  
  input[type='range']::-webkit-slider-thumb {
	appearance: none;
	height: 15px;
	width: 20px;
	border-radius: 10px;
	background: #365d3c;
	cursor: pointer;
	box-shadow: 0 0 2px 0 #555;
}
  .slider input[type=range]::-webkit-slider-runnable-track  {
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
.container h4{
 font-family: "Dosis", sans-serif;
 font-weight: 700;

}
.size_container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
   align-items: left;
   text-align: left;

}
.size{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.filters_container p{
    font-family: "Poppins";
    font-weight: 600;
}
.size button{
    background-color: #2e6837a3;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    font-size: medium;
    color: white;
    font-family: "Josefin Sans";
    cursor: pointer;
}
.indoor{
    width: 120px;
    background-color: #365d3c;
    height: 90px;
}