.container{
    width: 100%;
    display: flex;
    justify-content: center;

    
    margin: 30px;
    
 
  
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
.filters_container{
    display: flex;
   
    width: 100%;
  
}
input[type="range"] {
    appearance: none;
	height: 7px;
	background: #c2c4be;
	border-radius: 5px;
	background-image: linear-gradient(#617b3e, #9bb776);
	background-repeat: no-repeat;
  }
  
  input[type='range']::-webkit-slider-thumb {
	appearance: none;
	height: 15px;
	width: 20px;
	border-radius: 10px;
	background: #365d3c;
	cursor: pointer;
	box-shadow: 0 0 2px 0 #555;
}
  .slider input[type=range]::-webkit-slider-runnable-track  {
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
.container h4{
 font-family: "Dosis", sans-serif;
 font-weight: 700;


}
.size_container{
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   text-align: center;


}
.size{
    display: flex;
    margin-right: 30px;
    caret-color: transparent;

}
.size_title{
    font-family: "Poppins";
    font-weight: bold;
    margin-left: 10px;
    caret-color: transparent;
    margin-right: 10px;

}
.size button{
    background-color:transparent;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    border: #365d3c 2px solid;
    color:#365d3c;
    font-family: "Josefin Sans";
    cursor: pointer;
}
.size button:hover{
    color: #fff;

}
.indoor{
    width: 220px;
    background-color: #365d3c;
    height: 90px;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}