@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  width: 40%;
  position: relative;
  display: flex;
  margin-top: 10%;

}

.searchTerm {
  width: 100%;
  border: 3px solid rgba(5, 140, 39, 0.927);
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  z-index: 100;
  font-size: 1.3rem;


}

.searchTerm:focus {
  color: rgb(9, 118, 36);

}

.searchButton {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(5, 140, 39, 0.927);
  background: rgba(5, 140, 39, 0.927);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.searchTerm::placeholder {
  font-size: 1.3rem;

}

/*Resize the wrap to see the search bar change!*/
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.727), rgba(196, 215, 217, 0.876)), url("https://cdn.concreteplayground.com/content/uploads/2015/03/garden-life-st-peters-plants-supplied.jpeg");
  background-repeat: no-repeat;
  background-position: center;
}

.close {
  position: absolute;
  right: 30px;
  top: 110px;
  font-size: 30px;
  cursor: pointer;
}

.close_icon {
  color: #fff;
}

.search_image {
  width: 40px;
  margin: 10px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 30px;
  font-family: "Dosis";
  font-weight: bold;
}


.container_search {
  caret-color: transparent;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 4;



}

.search_card {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  z-index: 0;
  caret-color: transparent;


}

.search_card p {
  font-family: "Poppins";


}

.search_card:hover {

  background-color: rgba(9, 170, 49, 0.903);
  cursor: pointer;


}

.search_results {
  position: relative;
  bottom: 1rem;
  width: 80%;
  max-width: 750px;
  padding: 5%;
  border-radius: 20px;
  caret-color: transparent;
}

.button_container {
  width: min-content;
  position: absolute;
  right: 15px;
  top: 8rem;
}

.back {
  background-color: rgba(24, 103, 44, 0.903);
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search {
    width: 70%;
  }

  .search_results {
    bottom: 0
  }
}