.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_container {
  width: min-content;
  position: absolute;
  left: 15px;
  top: 8rem;
}
.back {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
